---
import Breadcrumbs from '@/components/breadcrumbs.astro'
import Content from '@/content/pages/donate.md'
import Layout from '@/layouts/layout.astro'
import PageHead from '@/components/page-head.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Donate" />
  <Breadcrumbs items={[{ href: '/donate', label: 'Donate', icon: 'lucide:heart' }]} />

  <section class="prose">
    <Content />
  </section>
</Layout>
