---
import Layout from '@/layouts/layout.astro'
import PageHead from '@/components/page-head.astro'
import Breadcrumbs from '@/components/breadcrumbs.astro'
import Content from '@/content/pages/resources.md'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Resources" />
  <Breadcrumbs items={[{ label: 'Resources', icon: 'lucide:book' }]} />

  <div class="prose">
    <Content />
  </div>
</Layout>
